
<!DOCTYPE html>
<head>
<title>Coffee App</title>
<link rel="stylesheet" href="design.css" type="text/css" media="all">
</head>

<body>

<h1>Welcome to Coffee App</h1>

<a href="/boughtit"> Bought it </a><br/>
<a href=""> Made it</a>

</body>

