
<!DOCTYPE html>
<head>
<title>Coffee App: Made It</title>
<link rel="stylesheet" href="design.css" type="text/css" media="all">
</head>

<body>

<h1>Welcome to Coffee App</h1>

<nav>
<a href="boughtit"> Bought it </a><br/>
<a href="madeit"> Made it</a>
</nav>

<div class="input-row">
	<label for="select-beanOrigin">Bean Origin:</label>
	<select name="select-beanOrigin" id="select-choice">
        <option value="0" selected="selected">Choose...</option>
		<option value="Ethiopian">Ethiopian</option>
		<option value="Kenya">Kenya</option>
		<option value="Jamaican">Jamaican</option>
    	<option value="Hawaiian">Hawaiian</option>
    	<option value="Brazil">Brazil</option>
    	<option value="Spain">Spain</option>
    	<option value="Costa Rica">Costa Rica</option>
    	<option value="Guatemalan">Guatemalan</option>
        <option value="Colombia">Colombia</option>
        <option value="Nicaragua">Nicaragua</option>
    </select>
</div>
<div class="input-row">
     <label for="name">Coffee Type:</label>
    <input type="text" name="name" id="coffeeType" value="" tabindex="1" />
</div>


<div class="input-row">
        <input type="submit" value="Submit" />
</div>



</body>

